:root {
  --color-1: hsl(281, 100%, 50%);
  --color-2: hsl(195, 100%, 50%);
  --backgroud-page: hsl(240, 8%, 10%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--backgroud-page);
  font: 16px "Roboto", sans-serif;
  color: var(--white);
  padding: 0;
  border: 0;
  margin: 0;
}
.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#unity-canvas {
  width: 1024px;
  height: 768px;
  background: var(--backgroud-page);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin: 2em;
}
.controls {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--white);
  border-radius: 20px;
  padding: 2em;
}
.control {
  display: flex;
  gap: 4em;
}
.controlInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controlImg {
  height: 128px;
}
.button-back {
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(-45deg, var(--color-1), var(--color-2));
  border: none;
  color: var(--white);
  padding: 0;
  cursor: pointer;
}
.button-back:hover {
  background: var(--white);
}
.button-back__p {
  margin: 0;
  padding: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
}
.button-back__p:hover {
  background-image: linear-gradient(-45deg, var(--color-1), var(--color-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
